* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(0, 85, 0);
    color: white;
    font-family: "Open Sans", sans-serif;
}
/* ///////////////////////////////////HEADER SECTION STYLES //////////////////////////////////////////////// */

#header {
    border: 1px solid black;
    background-image: url();
    padding: 5em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#header h1 {
    text-align: center;
    color: white;
}

#inputSection {
    text-align: center;
    padding: 2em;
    background-color: lightgray;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
}

#inputForm {
    display: flex;
    justify-content: center;
    gap: 3em;
    width: 50%;
    border: solid 2px red;
    margin: 0 auto;
}

#inputField {
    border-radius: 5px;
    padding-left: 10px;

}

#inputBtn {
    padding: 0.7em;
    border-radius: 5px;
}
/* ///////////////////////////////////MAIN SECTION STYLES //////////////////////////////////////////////// */
#inputSection, #todoSection {
    width: 80%;
    margin: 0 auto;
}

#main {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}

#todoList {
width: 80%;
text-align: center;
list-style: none;
border: 1px solid black;
}

.todoListItem {
    display: flex;
    justify-content: center;
    gap: 1em;
    border: 1px solid black;
}

.editBtn,
.delBtn {
    padding: 0.7em;
    border-radius: 5px;

}

#listBtns {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

#saveListBtn,
#loadListBtn {
    padding: 0.7em;
    border-radius: 5px;
}









/* ///////////////////////////////////FOOTER SECTION STYLES //////////////////////////////////////////////// */

#footer {
    border: 1px solid black;

}

